---
import Container from "@/components/container.astro";
import ErrorBoundary from "@/components/error-boundary.astro";
import Fallback from "@/components/fallback.astro";
import Results from "@/components/results.astro";
import SearchForm from "@/components/search-form.astro";
import Layout from "@/layouts/layout.astro";
import { handleSearch } from "@/lib/search";
import { type Result, schema, searchSchema } from "@/schema/schema";

export const prerender = false;

let searchResult = {} as Result;
let errorMessage = "";
let searchTerm: string | null = null;
const defaultWord = "h";
let loading = false;

try {
  loading = true;

  if (Astro.url.searchParams.has("query")) {
    searchTerm = Astro.url.searchParams.get("query");

    const result = searchSchema.safeParse({ query: searchTerm });
    if (!result.success) {
      const errors = result.error.flatten();
      errorMessage = errors.fieldErrors.query?.[0] || "Unknown Error";
    } else {
      const response = await handleSearch(result.data.query);
      searchResult = schema.parse(response);
    }
  } else {
    const response = await handleSearch(defaultWord);
    searchResult = schema.parse(response);
  }
} catch (error) {
  errorMessage = "Network error. Please try again.";
} finally {
  loading = false;
}

---

<Layout>
  <main aria-labelledby="heading error">
    <Container class="flex flex-col gap-8">
      <section aria-label="SEARCH FOR A WORD">
        <SearchForm {searchTerm} error={errorMessage} />
      </section>

      {loading && <Fallback />}

      {
        !loading && searchResult.error ? (
          <section
            aria-labelledby="error"
            class="grid min-h-[70vh] place-content-center"
          >
            <ErrorBoundary error={searchResult.error} />
          </section>
        ) : null
      }

      {
        !loading && searchResult.data ? (
          <section aria-labelledby="heading" class="flex flex-col gap-8">
            <Results data={searchResult.data} />
          </section>
        ) : null
      }
    </Container>
  </main>
</Layout>
