---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import Container from './container.astro';
import Link from './link.astro';


const formatter = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
});
const buildDate = new Date(Date.now());

type Props = HTMLAttributes<'footer'>;
const { class: className, ...rest} = Astro.props;
---

<footer
  class="mt-20 bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white"
  {...rest}
>
  <Container class="flex items-center justify-center py-1">
    <p class="flex flex-wrap content-center items-center gap-1 text-xs">
      <span>Built with&nbsp;</span>
      <Icon name="logos:astro-icon" />
      <Link href="https://docs.astro.build/en/concepts/why-astro/">
        {Astro.generator}
      </Link>&nbsp;on&nbsp;
      <time datetime={buildDate.toISOString()}
        >{formatter.format(buildDate)}</time
      >
    </p>
  </Container>
</footer>
