---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"audio">;

const { src } = Astro.props;
---

<figure class="">
  <figcaption class="sr-only">Listen to the pronunciation:</figcaption>
  <audio data-id="g-audio" preload="metadata" class="">
    <source {src} type="audio/mpeg" />
    <p>
      Your browser doesn't support this audio file. Here is a
      <a href={src}>link to the audio</a> instead.
    </p>
  </audio>
  <button
    type="button"
    data-id="g-play-pause"
    disabled={!src}
    class:list={[
      "group flex items-center justify-center rounded-full p-4",
      "bg-accent-200/25 text-2xl hocus:bg-accent-200",
      "transition-colors duration-200 ease-out",
      "disabled:cursor-not-allowed disabled:bg-accent-200/10 hocus:disabled:bg-accent-200/10",
    ]}
  >
    <Icon
      name="mdi:play"
      data-id="play"
      class="text-accent-200 group-hover:text-white group-focus:text-white"
    />
    <span class="sr-only">Play audio</span>
  </button>
</figure>

<script>
  import { getElement } from "@/helpers/dom";

  const audio = getElement('[data-id="g-audio"]', HTMLAudioElement);
  const btn = getElement('[data-id="g-play-pause"]', HTMLButtonElement);

  btn.addEventListener("click", handlePlayback);

  function handlePlayback() {
    audio.volume = 0.8;
    audio.paused ? audio.play() : audio.pause();
  }
</script>
