---
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
import Link from "./link.astro";
---

<header class="py-12">
  <Container>
    <div class="flex items-start justify-between">
      <Link href="/" class="flex items-center">
        <Icon name="logo" class="text-2xl" />
        <span class="sr-only">Go to home</span>
      </Link>

      <div class="flex items-center gap-4">
        <!-- Select -->
        <Icon name="arrow-down" />
        <!-- Switch -->
        <Icon name="moon" />
      </div>
    </div>
  </Container>
</header>
