---
import { searchParam } from "@/lib/constants";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"form"> & {
  error?: string;
  searchTerm: string | null;
};

const { error = "", searchTerm, ...rest } = Astro.props;

const isError = !!error;
---

<form
  method="get"
  class="flex flex-col gap-2"
  transition:persist="form"
  {...rest}
>
  <label
    class:list={[
      "flex w-full items-center gap-1 rounded-xl px-4 py-2.5 text-xl",
      "bg-grey-100 dark:bg-grey-800",
      "hover:border hover:border-accent-200",
      "focus-within:border focus-within:border-accent-200",
      isError ? "border-accent-100" : null,
    ]}
  >
    <input
      type="text"
      id="fields.query.input"
      transition:persist={searchParam}
      name={searchParam}
      value={searchTerm}
      class="flex-1 border-none bg-transparent p-0 text-sm font-bold text-grey-700 outline-none focus:ring-0 sm:text-base dark:text-white"
      placeholder="Search for any word"
      aria-invalid={isError ? "true" : "false"}
      aria-errormessage="fields.query.error"
    />
    <Icon name="search" title="Search for any word" class="text-inherit" />
    <span class="sr-only">Search for any word</span>
  </label>
  <p
    role="alert"
    aria-live="polite"
    aria-atomic="true"
    class="text-sm text-accent-100 sm:text-xl"
    id="fields.query.error"
  >
    {error}
  </p>
</form>
